{% extends 'mfc/base.html' %}
{% load staticfiles %}

{% block title %}
Личный кабинет
{% endblock %}

{% block content %}
    {{ form_.media }}
    {% if username %}
        <div class="container_cabinet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container-cabinet">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Персональные данные</a></li>
                                <li class=""><a href="#documents" data-toggle="tab" aria-expanded="false">Загруженные документы</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                        Мои заявки <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#dropdown1" data-toggle="tab">Все ({{ request_all.count }})</a></li>
                                        <li><a href="#dropdown2" data-toggle="tab">Последние ({{ request_last.count }})</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#dropdown3" data-toggle="tab">Не рассмотренные ({{ request_start.count }})</a></li>
                                        <li><a href="#dropdown4" data-toggle="tab">Обрабатываются ({{ request_in_progress.count }})</a></li>
                                        <li><a href="#dropdown5" data-toggle="tab">Завершённые ({{ request_ending.count }})</a></li>
                                    </ul>
                                </li>
                            </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in" id="home">
                                <div class="container_passport">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <h3>Ваши паспортные данные</h3>
                                        </div>
                                    <div class="col-md-2"></div>
                                </div>
                                    {% if passport %}
                                    <div class="row">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <table class="table table-striped table-hover ">
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Серийный номер</td>
                                                        <td>{{ passport.serial_number }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Код подразделения</td>
                                                        <td>{{ passport.code }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Фамилия</td>
                                                        <td>{{ passport.surname }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Имя</td>
                                                        <td>{{ passport.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Отчество</td>
                                                        <td>{{ passport.middle_name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>Пол</td>
                                                        <td>{{ passport.sex }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>Дата рождения</td>
                                                        <td>{{ passport.date_of_birth }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>Место рождения</td>
                                                        <td>{{ passport.place_of_birth }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>Паспорт выдан</td>
                                                        <td>{{ passport.issued_by }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>Дата выдачи</td>
                                                        <td>{{ passport.date_of_issue }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>Место регистрации</td>
                                                        <td>{{ passport.place_of_registration }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-2"></div>
                                    </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="alert alert-dismissible alert-danger">
                                                    <strong>Вы пока не добавили своих данных!</strong> Без них Вы не сможете заказывать услуги. Для добавления нажмите на кнопку "Изменить/добавить данные".
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% endif %}
                                    {% if personal_info.snils_number %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><h3>Номер вашего СНИЛС</h3>
                                                <table class="table table-striped table-hover ">
                                                    <tbody>
                                                        <tr>
                                                            <td>Номер</td>
                                                            <td>{{ personal_info.snils_number }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="alert alert-dismissible alert-danger">
                                                    <strong>Вы пока не добавили своих данных!</strong> Для добавления нажмите на кнопку "Изменить/добавить данные".
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><h3>Контактная информация</h3></div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><h4>Ваш адрес электронной почты</h4>
                                                <table class="table table-striped table-hover ">
                                                    <tbody>
                                                        <tr>
                                                            <td>Адрес</td>
                                                            <td>{{ user.email }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% if personal_info.phone %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8"><h4>Ваш контактный телефон</h4>
                                                <table class="table table-striped table-hover ">
                                                    <tbody>
                                                        <tr>
                                                            <td>Телефон</td>
                                                            <td>{{ personal_info.phone }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="alert alert-dismissible alert-warning">
                                                    <strong>Вы пока не добавили свой контактный телефон!</strong> Для добавления нажмите на кнопку "Изменить/добавить данные".
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <div class="container_button_passport">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6"><a class="passport_edit_button" href="{% url 'editing_passport' %}">Изменить/добавить данные</a></div>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="documents">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_documents_cabinet_one">
                                        <div class="container_documents_cabinet_add">
                                            <div class="row">
                                                <div class="col-md-2"><img src="{% static 'mfc/images/New_document.png' %}"></div>
                                                <div class="col-md-10">
                                                     <form class="Add_Document_Form" action="{% url 'cabinet'%}" method="post" enctype="multipart/form-data" name="Add_Document_Form">
                                                        {% csrf_token %}
                                                        <input id="id_picture" name="picture" type="file" required="">
                                                        <label for="form.title"><h5>Введите название документа</h5></label>
                                                        <input id="id_title" maxlength="200" name="title" type="text" placeholder="Не более 200 символов" required="">
                                                         <div class="container_documents_cabinet_add_button">
                                                            <div class="row">
                                                                <p><input type="submit" value="ЗАГРУЗИТЬ ДОКУМЕНТ"></p>
                                                            </div>
                                                        </div>
                                                     </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% for documents in document %}
                                            <div class="container_documents_cabinet">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <a class="fancyimage" href="{{ documents.picture.url }}"><img  src="{{ documents.picture.url }}"></a>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <h3><p>{{ documents.title }}</p></h3>
                                                        <h4>Загружен: {{ documents.date_of_adding }}</h4>
                                                        <div class="container_documents_cabinet_button_center">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="container_button_document">
                                                                        <a class="document_edit_button" href="{% url 'rename_document'  documents.id %}">Переименовать документ</a>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="container_button_document">
                                                                        <a class="document_edit_button" href="{% url 'delete_document'  documents.id %}">Удалить документ</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="dropdown1">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_requests_cabinet_one">
                                        {% if request_all %}
                                        {% for requests in request_all %}
                                            <div class="container_requests_cabinet">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                {% if requests.status == 'подана' %}
                                                    <a href><img src="{% static 'mfc/images/Подана.png' %}"></a>
                                                {% elif requests.status == 'обрабатывается'%}
                                                    <a href><img src="{% static 'mfc/images/Обрабатывается.png' %}"></a>
                                                {% elif requests.status == 'завершена'%}
                                                    <a href><img src="{% static 'mfc/images/Завершена.png' %}"></a>
                                                {% endif %}
                                                    </div>
                                                    <div class="col-md-10">
                                                    <h3>{{ requests.title }}</h3>
                                                        <h4>Статус - Заявка {{ requests.status }}</h4>
                                                    <h4>Дата подачи заявки: {{ requests.date_of_beginning }}</h4>
                                                        {% if requests.status == 'завершена' %}
                                                        <h4>Дата завершения заявки:{{ requests.date_of_ending }}</h4>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-5"></div>
                                                    <div class="col-md-5">
                                                        <div class="container_button_document">
                                                            <a class="document_edit_button" href="{% url 'description_request'  requests.id %}">Подробнее</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% else %}
                                        <div class="container_requests_cabinet_none">
                                            <div class="row">
                                                    <div class="alert alert-dismissible alert-info">
                                                        <strong>У Вас пока нет заявок!</strong> Для того, чтобы оставить заявку на услугу,
                                                        <a href="{% url 'services' %}" class="alert-link">перейдите на вкладку услуги</a>, выберите необходимую из списка и в выпадающей вкладке
                                                        нажмите на кнопку "Заказать услугу".
                                                    </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="dropdown2">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_requests_cabinet_one">
                                        {% if request_last %}
                                        {% for requests in request_last %}
                                        <div class="container_requests_cabinet">
                                            <div class="row">
                                                <div class="col-md-2">
                                                {% if requests.status == 'подана' %}
                                                    <a href><img src="{% static 'mfc/images/Подана.png' %}"></a>
                                                {% elif requests.status == 'обрабатывается'%}
                                                    <a href><img src="{% static 'mfc/images/Обрабатывается.png' %}"></a>
                                                {% elif requests_all.status == 'завершена'%}
                                                    <a href><img src="{% static 'mfc/images/Завершена.png' %}"></a>
                                                {% endif %}
                                                </div>
                                                <div class="col-md-10">
                                                    <h3>{{ requests.title }}</h3>
                                                    <h4>Дата подачи заявки:{{ requests.date_of_beginning }}</h4>
                                                    <h4>Статус - Заявка {{ requests.status }}</h4>
                                                    {% if requests.status == 'завершена' %}
                                                        <h4>Дата завершения заявки:{{ requests.date_of_ending }}</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-5"></div>
                                                <div class="col-md-5">
                                                    <div class="container_button_document">
                                                            <a class="document_edit_button" href="{% url 'description_request'  requests.id %}">Подробнее</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        {% else %}
                                        <div class="container_requests_cabinet_none">
                                            <div class="row">
                                                    <div class="alert alert-dismissible alert-info">
                                                        <strong>У Вас пока нет заявок!</strong> Для того, чтобы оставить заявку на услугу,
                                                        <a href="{% url 'services' %}" class="alert-link">перейдите на вкладку услуги</a>, выберите необходимую из списка и в выпадающей вкладке
                                                        нажмите на кнопку "Заказать услугу".
                                                    </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                                <div class="tab-pane fade" id="dropdown3">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_requests_cabinet_one">
                                    {% if request_start %}
                                    {% for requests in request_start %}
                                        <div class="container_requests_cabinet">
                                            <div class="row">
                                                    <div class="col-md-2">
                                                {% if requests.status == 'подана' %}
                                                    <a href><img src="{% static 'mfc/images/Подана.png' %}"></a>
                                                {% elif requests.status == 'обрабатывается'%}
                                                    <a href><img src="{% static 'mfc/images/Обрабатывается.png' %}"></a>
                                                {% elif requests_all.status == 'завершена'%}
                                                    <a href><img src="{% static 'mfc/images/Завершена.png' %}"></a>
                                                {% endif %}
                                                    </div>
                                                    <div class="col-md-10">
                                                    <h3>{{ requests.title }}</h3>
                                                    <h4>Дата подачи заявки:{{ requests.date_of_beginning }}</h4>
                                                    <h4>Статус - Заявка {{ requests.status }}</h4>
                                                    {% if requests.status == 'завершена' %}
                                                        <h4>Дата завершения заявки:{{ requests.date_of_ending }}</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-5"></div>
                                                <div class="col-md-5">
                                                    <div class="container_button_document">
                                                            <a class="document_edit_button" href="{% url 'description_request'  requests.id %}">Подробнее</a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        {% else %}
                                        <div class="container_requests_cabinet_none">
                                            <div class="row">
                                                    <div class="alert alert-dismissible alert-info">
                                                        <strong>У Вас нет нерасмотренных заявок!</strong> Проверьте другие разделы или оставьте новую заявку. Для того, чтобы оставить заявку на услугу,
                                                        <a href="{% url 'services' %}" class="alert-link">перейдите на вкладку услуги</a>, выберите необходимую из списка и в выпадающей вкладке
                                                        нажмите на кнопку "Заказать услугу".
                                                    </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                    </div>
                                </div>
                                </div>

                            <div class="tab-pane fade" id="dropdown4">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_requests_cabinet_one">
                                    {% if request_in_progress %}
                                    {% for requests in request_in_progress %}
                                        <div class="container_requests_cabinet">
                                            <div class="row">
                                                    <div class="col-md-2">
                                                {% if requests.status == 'подана' %}
                                                    <a href><img src="{% static 'mfc/images/Подана.png' %}"></a>
                                                {% elif requests.status == 'обрабатывается'%}
                                                    <a href><img src="{% static 'mfc/images/Обрабатывается.png' %}"></a>
                                                {% elif requests_all.status == 'завершена'%}
                                                    <a href><img src="{% static 'mfc/images/Завершена.png' %}"></a>
                                                {% endif %}
                                                    </div>
                                                    <div class="col-md-10">
                                                    <h3>{{ requests.title }}</h3>
                                                    <h4>Дата подачи заявки:{{ requests.date_of_beginning }}</h4>
                                                    <h4>Статус - Заявка {{ requests.status }}</h4>
                                                    {% if requests.status == 'завершена' %}
                                                        <h4>Дата завершения заявки:{{ requests.date_of_ending }}</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-5"></div>
                                                <div class="col-md-5">
                                                    <div class="container_button_document">
                                                            <a class="document_edit_button" href="{% url 'description_request'  requests.id %}">Подробнее</a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        {% else %}
                                        <div class="container_requests_cabinet_none">
                                            <div class="row">
                                                    <div class="alert alert-dismissible alert-info">
                                                        <strong>У Вас нет заявок в обработке!</strong> Проверьте другие разделы или оставьте новую заявку. Для того, чтобы оставить заявку на услугу,
                                                        <a href="{% url 'services' %}" class="alert-link">перейдите на вкладку услуги</a>, выберите необходимую из списка и в выпадающей вкладке
                                                        нажмите на кнопку "Заказать услугу".
                                                    </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                     </div>
                                        </div>
                                            </div>
                                        </div>


                        <div class="tab-pane fade" id="dropdown5">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                    <div class="container_requests_cabinet_one">
                                    {% if request_ending %}
                                    {% for requests in request_ending %}
                                        <div class="container_requests_cabinet">
                                            <div class="row">
                                                    <div class="col-md-2">
                                                {% if requests.status == 'подана' %}
                                                    <a href><img src="{% static 'mfc/images/Подана.png' %}"></a>
                                                {% elif requests.status == 'обрабатывается'%}
                                                    <a href><img src="{% static 'mfc/images/Обрабатывается.png' %}"></a>
                                                {% elif requests_all.status == 'завершена'%}
                                                    <a href><img src="{% static 'mfc/images/Завершена.png' %}"></a>
                                                {% endif %}
                                                    </div>
                                                    <div class="col-md-10">
                                                    <h3>{{ requests.title }}</h3>
                                                    <h4>Дата подачи заявки:{{ requests.date_of_beginning }}</h4>
                                                    <h4>Статус - Заявка {{ requests.status }}</h4>
                                                    {% if requests.status == 'завершена' %}
                                                        <h4>Дата завершения заявки:{{ requests.date_of_ending }}</h4>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-5"></div>
                                                <div class="col-md-5">
                                                    <div class="container_button_document">
                                                            <a class="document_edit_button" href="{% url 'description_request'  requests.id %}">Подробнее</a>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                        {% else %}
                                        <div class="container_requests_cabinet_none">
                                            <div class="row">
                                                    <div class="alert alert-dismissible alert-info">
                                                        <strong>У Вас нет завершённых заявок!</strong> Проверьте другие разделы или оставьте новую заявку. Для того, чтобы оставить заявку на услугу,
                                                        <a href="{% url 'services' %}" class="alert-link">перейдите на вкладку услуги</a>, выберите необходимую из списка и в выпадающей вкладке
                                                        нажмите на кнопку "Заказать услугу".
                                                    </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    </div>
                                        </div>
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
       <script type="text/javascript">
            $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
        </script>
    </div>
    {% endif %}
{% endblock %}