{% extends 'mfc/base.html' %}
{% load staticfiles %}

{% block title %}
Контакты
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="container_contacts">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            МАУ МФЦ г. Азова (центральный офис)
                            город Азова,
                            ул. Московская, д.61
                        </h3>
                        <br>
                        <h4>Филиал МФЦ открыт 01.12.2011</h4>
                        <h4>Режим работы:</h4>
                        <h5>Пн-Вт, Чт-Пт: 08.00 — 18.00<p>Без перерыва</p></h5>
                        <h5>Среда: 10.00 — 20.00<p>Без перерыва</p></h5>
                        <h5>Суббота: 09.00 — 13.00<p>Без перерыва</p></h5>
                        <h5>Воскресенье — выходной</h5>
                        <br>
                        <h4>Контактная информация</h4>
                        <h5><i class="glyphicon glyphicon-earphone"></i> call-центр:+7 (86342) 4-70-34</h5>
                        <h5><i class="glyphicon glyphicon-earphone"></i> приёмная:+7 (86342) 6-14-19</h5>
                        <h5><a href="https://mfcazov@mail.ru"><i class="glyphicon glyphicon-envelope"></i> mfcazov@mail.ru</a></h5>
                        <h5><a href="http://azov.mfc61.ru/#maps-maps"><i class="glyphicon glyphicon-globe"></i> azov.mfc61.ru</a></h5>
                    </div>
                    <div class="col-md-4">
                        <div class="container_contacts_image">
                            <a class="fancyimage" href="{% static 'mfc/images/IMG_6243.JPG' %}"><img  src="{% static 'mfc/images/IMG_6243.JPG' %}"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container_map">
                        <script type="text/javascript" charset="utf-8"
                                async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A007d1b289e9cd5651923b041f99f8b8e2bb8568ccc5841340f4ec199180be152&amp;
                                width=530&amp;height=300&amp;lang=ru_RU&amp;scroll=true&amp;alt=ffjvf"></script>
                            </div>
                    </div>
                </div>
                </div>
            <div class="container_contacts">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            МАУ МФЦ
                            г. Азов,
                            ул. Московская, д.292,
                            Библиотека имени Штанько
                        </h3>
                        <br>
                        <h4>Филиал МФЦ открыт 25.12.2012</h4>
                        <h4>Режим работы:</h4>
                        <h5>Понедельник — выходной</h5>
                        <h5>Вт-Пт: 10.00 — 18.00<p>Без перерыва</p></h5>
                        <h5>Сб-Вс — выходной</h5>
                        <br>
                        <h4>Контактная информация</h4>
                        <h5><i class="glyphicon glyphicon-earphone"></i> +7 (86342) 6-64-60</h5>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <div class="container_contacts_image">
                            <a class="fancyimage" href="{% static 'mfc/images/тосп.jpg' %}"><img  src="{% static 'mfc/images/тосп.jpg' %}"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container_map">
                        <script type="text/javascript" charset="utf-8"
                                async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af83d06adbbe878a0bc9dfa2926387ffe98d140cd3ea59a8684188517c29c1a44&amp;
                        width=530&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
                            </div>
                    </div>
                </div>
                </div>
            <div class="container_contacts">
                <div class="row">
                    <div class="col-md-4">
                        <h3>
                            МАУ МФЦ
                            г. Азова,
                            ул. Севастопольская, д.109
                        </h3>
                        <br>
                        <h4>Филиал МФЦ открыт 17.12.2013</h4>
                        <h4>Режим работы:</h4>
                        <h5>Пн, Ср, Пт: 08.00 — 17.00<p>Без перерыва</p></h5>
                        <h5>Вт, Чт: 11.00 — 20.00<p>Без перерыва</p></h5>
                        <h5>Суббота: 08.00 — 13.00<p>Без перерыва</p></h5>
                        <h5>Воскресенье — выходной</h5>
                        <br>
                        <h4>Контактная информация</h4>
                        <h5><i class="glyphicon glyphicon-earphone"></i> +7 (86342) 6-99-43</h5>
                        <br>
                    </div>
                    <div class="col-md-4">
                        <div class="container_contacts_image">
                            <a class="fancyimage" href="{% static 'mfc/images/DSC02111.JPG' %}"><img  src="{% static 'mfc/images/DSC02111.JPG' %}"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="container_map">

                        <script type="text/javascript" charset="utf-8"
                                async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4e00838ad31239186a106488aeb1afc8cfa7ded55064a5126472db043a750a45&amp;
                        width=530&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
                            </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-1"></div>

    </div>
   <script type="text/javascript">
            $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
        </script>
{% endblock %}
{% block add_script %}

{% endblock %}