{% extends 'mfc/base.html' %}
{% load staticfiles %}

{% block title %}
Инструкция
{% endblock %}

{% block content %}

    <div class="row" xmlns="http://www.w3.org/1999/html">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="container_instructions">
                    <h2>Инструкция пользователя</h2>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Как зарегистрироваться и авторизоваться на сайте?</a></h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Зарегистрированный и авторизованный пользователь получает возможность пользоваться всем функционалом <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">"Личного кабинета"</a>
                                     и может совершать заказы услуг.</p>
                                        <p>Чтобы зарегистрироваться на сайте, Вам необходимо выбрать вкладку <a href="{% url 'login' %}">"Войти"</a> в верхнем меню сайта и перейти по ссылке "Регистрация",
                                    находящейся после полей для ввода. В форме <a href="{% url 'registration_register' %}">регистрации</a> Вам необходимо ввести Логин, Ваш адрес электронной почты и Пароль,
                                    затем нажать кнопку "Зарегистрироваться". После этого Вы будете перенаправлены на страницу завершения регистрации. На этой странице Вы будете уведомлены о том, что на вашу
                                    почту пришло письмо с кодом активации, который будет действителен в течение 48 часов. Для того, чтобы активировать Ваш аккаунт в личном кабинете на сайте, Вам
                                    будет нужно перейти по ссылке в письме с кодом активации. После этого Вы увидите страницу успешной активации аккаунта.</p>
                                        <p>Чтобы авторизоваться на сайте, Вам необходимо выбрать вкладку <a href="{% url 'login' %}">"Войти"</a> в верхнем меню сайта. В форме авторизации Вы должны ввести Ваши Логин, Пароль и нажать
                                    кнопку "Войти". В случае успешного ввода Вы будете перенаправлены на <a href="{% url 'main' %}">"Главную страницу"</a> сайта.</p>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Как заказать услугу?</a></h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Перечень доступных для заказа услуг находится на вкладке <a href="{% url 'services' %}">"Услуги"</a> в верхнем меню сайта.
                                    Для того чтобы сделать заказ необходимой услуги, Вы должны быть <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">зарегистрированы и авторизованы</a> на сайте.</p>
                                    <p>Для заказа следует выбрать из списка нужную услугу, после этого откроется её подробное описание, и нажать на кнопку "Заказать услугу". После этого Вы будете переведены на страницу
                                    "Заказа услуги". Если на момент заказа услуги, Вы ещё не внесли свои паспортные данные в "Личном кабинете", то после нажатия на кнопку "Заказать услугу", Вы будете переведены на страницу "Добавление паспортных данных".</p>
                                    <p>На странице "Заказа услуги" представлено описание выбранной Вами услуги, также Ваши паспортные данные и форма для прикрепления необходимых фотографий документов.
                                    В этой форме у Вас есть возможность загрузить новый файл документа или выбрать необходимые из ранее загруженных в "Личном кабинете".
                                    Если Вы загружаете новый документ, то необходимо нажать на кнопку "Выберите файл", выбрать в появившемся окне проводника нужный документ и ввести его имя, затем нажать кнопку "Загрузить документ".
                                    Если Вы выбираете необходимые документы из ранее загруженных, то Вам необходимо выбрать их в выпадающих списках рядом с надписью "Выберите документ". Выпадающих списков для выбора будет столько, сколько документов необходимо
                                    для заказа данной услуги. После этого Вы можете проверить правильность внесённых Вами паспортных данных и нажать кнопку "Подтвердить заказ". В том случае, если Вы передумали делать заказ, Вы можете нажать на кнопку "Отменить заказ",
                                    после чего будете перенаправлены на страницу <a href="{% url 'services' %}">"Услуги"</a>. После завершения заказа в Вашем личном кабинете появится соответствующая запись и Вы
                                    сможете отслеживать статус своей заявки. Подробнее об этом в пункте <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Как пользоваться личным кабинетом?</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Как пользоваться личным кабинетом?</a></h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Личный кабинет доступен всем <a href="{% url 'login' %}">зарегистрированным и авторизованным</a> пользователям. <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Подробнее о регистрации и авторизации</a>.</p>
                                        <p>Возможности, которые предоставляет личный кабинет:</p>
                                            <li>Заказ услуг и отслеживание статуса их выполнения;</li>
                                            <li>Загрузка и удаление фотографий своих документов с возможностью переименовывания;</li>
                                            <li>Ввод и редактирование своих личных (паспортные данные, СНИЛС) и контактных данных.</li>
                                    <h3>Загрузка и удаление фотографий документов</h3>
                                    <p>Для добавления фотографий своих документов в личный кабинет, Вам нужно нажать на вкладку "Загруженные документы" в верхнем меню "Личного кабинета".
                                    Если у вас ещё нет загруженных документов, то Вы увидите соответствующее предупреждение. Для загрузки нового документа нужно нажать кнопку "Выберите файл" и в открывшемся меню
                                    проводника выбрать необходимый файл. Далее нужно ввести название Вашего документа и нажать клавишу "Загрузить документ". Теперь документ успешно загружен.
                                    Все Ваши документы будут отображаться под формой загрузки. Каждый загруженный файл отображается со своей миниатюрой картинки, названием и датой загрузки. Для того, чтобы просмотреть документ в его исходном размере, нужно нажать на миниатюру его картинки.</p>
                                    <p>Для переименования загруженного документа необходимо нажать кнопку "Переименовать документ", после чего откроется страница изменения документа, где можно ввести новое
                                    имя и нажать кнопку "Сохранить изменения", для отмены можно нажать кнопку "Назад". Для удаления документа нужно нажать кнопку "Удалить документ".</p>
                                    <h3>Ввод и редактирование личных и контактных данных</h3>
                                    <p>Ваши личные и контактные данные отображаются на вкладке "Персональные данные" в верхнем меню "Личного кабинета". Если Вы пока не оставили каких-либо
                                    данных о себе, то Вы увидите соответствующие предупреждения.</p>
                                        <p>Введённые паспортные данные позволяют пользователю совершать заказ услуг. Контактная информация даёт возможность
                                    оперативно связаться с Вами, в случае если Вы оставили заявку на услугу. Для изменения или ввода своих персональных данных Вам необходимо нажать кнопку "Изменить/Добавить данные". После этого
                                    откроется страница изменения Ваших данных. После ввода, для того, чтобы изменения вступили в силу, необходимо нажать кнопку "Сохранить изменения".</p>
                                    <h3>Заказ услуг и отслеживание статуса их выполнения</h3>
                                    <p>Подробная инструкция о том, как сделать заказ услуги, описана в разделе <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Как заказать услугу?</a></p>
                                    <p>Все оставленные пользователем заявки отображаются на вкладке "Мои заявки" верхнего меню "Личного кабинета". Они отсортированы по пунктам: все, последние (последние 5 зявок),
                                    не расмотренные, обрабатываются и завершённые. Последние три категории обозначают статус заявки: не рассмотренные - заявки, которые были поданы Вами недавно и ещё не обработаны
                                    администратором; обрабатываются - заявки, которые были рассмотрены администратором и вся информация по ним передана в обработку компетентным сотрудникам МФЦ, на данном этапе с вами
                                    свяжутся для уточнения возможных формальностей или для того, чтобы передать готовый результат заявки по оставленному контактному телефону или электронной почте, которую Вы указали при регистрации; завершённые - заявки, которые были
                                    обработаны сотрудниками МФЦ и результат по ним был Вами получен.</p>
                                    <p>Все заявки отображаются в виде списка с указанием наименования услуги, статуса выполнения, датой подачи и датой завершения заявки. Для того, чтобы просмотреть более подробную
                                    информацию о заявке, включающую описание услуги и прикреплённые документы, необходимо нажать кнопку "Подробнее".</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Как с нами связаться?</a></h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                        <p>Координаты центрального офиса МАУ МФЦ города Азова, а также его территориально обособленных структурных подразделений
                                    можно найти, перейдя по вкладке <a href="{% url 'contacts' %}">"Контакты"</a> в верхнем меню сайта. На данной странице указаны контактные телефоны и электронная почта для связи,
                                    координаты филиалов на карте, а также их график функционирования.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Где найти справочную информацию?</a></h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse">
                                <div class="panel-body">
                                       <p>Справочная информация на сайте представлена в виде новостной ленты, <a href="{% url 'tasks' %}">целей и задач</a> многофункциональных центров, <a href="{% url 'regulations' %}">правил</a> их функционирования,
                                    а также в виде ссылок на ресурсы <a href='http://www.mfc61.ru/'>портала многофункциональных центров Ростовской области</a> и <a href='http://61.gosuslugi.ru/'>портала Госуслуги</a>.
                                    Новостная лента располагается на главной странице сайта, где отображены три последние события. Чтобы увидеть полный текст определённой новости, необходимо
                                    нажать на её содержание, заголовок или прикреплённое изображение. Архив всех новостей можно найти на вкладке <a href="{% url 'news' %}">"Новости"</a> в верхнем меню сайта.
                                    Ссылки на вышеупомянутые ресурсы, а также на правила и цели функционирования многофункциональных центров указаны в нижней части любой страницы сайта.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>


        <script type="text/javascript">
            $(document).ready(function() {
            $("a.fancyimage").fancybox();
        });
        </script>
{% endblock %}
{% block add_script %}

{% endblock %}