{% extends 'mfc/base.html' %}

{% block title %}
    Цели и задачи МФЦ
{% endblock %}

{% block content %}
   <div class="container_regulations">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Правила организации МФЦ</h3>
            <h4><p>Создание в Ростовской области сети МФЦ позволит достичь следующих результатов:</p>
            <p>1. Сокращение времени ожидания в очереди Заявителей.</p>
            <p>2. Сокращение количества необходимых посещений Заявителей в процессе предоставления Услуги до 1 – 2 раз.</p>
            <p>3. Сокращение расходов Заявителя при получении Услуг.</p>
            <p>4. Уменьшение количества документов, которые требуется предоставить для получения Услуг, за счет организации межведомственного взаимодействия.</p>
            <p>5. Сокращение срока предоставления Услуг за счет оптимизации процессов.</p>
            <p>6. Снижение коррупционного потенциала, возникающего при взаимодействии Заявителей с должностными лицами (Заявитель обращается к работнику МФЦ,
                не являющемуся государственным или муниципальным служащим, а не к должностному лицу).</p>
            <p>7. Повышение информированности Заявителей по вопросам предоставления Услуг.</p>
            <p>8. Повышение комфортности предоставления Услуг, в том числе организация более удобного графика работы.</p></h4>
            <br>
            <h3>Требования к помещениям МФЦ</h3>
            <h4><p>Обязательным условием создания МФЦ является соблюдение единого фирменного стиля оформления МФЦ на всей территории Ростовской области, обеспечивающего его узнаваемость.</p>
            <p>Здание МФЦ должно располагаться в пешеходной доступности – не более 5 минут от остановок общественного транспорта. Дорога от близлежащих остановок общественного транспорта
                до здания МФЦ должна быть оборудована указателями.</p>
            <p>Помещения МФЦ, предназначенные для работы с заявителями, должны располагаться на первых этажах здания МФЦ и иметь отдельный вход.</p>
            <p>Прием заявителей в МФЦ должен осуществляется не менее 60 часов в неделю. График (режим) работы МФЦ
                должен предусматривать возможностьобращения за получением государственных
                (муниципальных) услуг в вечернее время и не менее чем в один из выходных дней.</p>
            <p>При наличии у организатора МФЦ подготовленного здания для открытия МФЦ, соответствующего стандарту комфортности, единому фирменному стилю
                оформления МФЦ в Ростовской области, типовым планировочным решениям Администрация Ростовской области может оказывать финансовую поддержку
                по методическому, материально-техническому, кадровому обеспечению создания МФЦ.</p></h4>
        </div>
        <div class="col-md-2"></div>
    </div>
   </div>

    <script type="text/javascript">
  $(document).ready(function() {
    $("a.fancyimage").fancybox();
  });
</script>

{% endblock %}