{% extends 'mfc/base.html' %}
{% load staticfiles %}
{% block title %}
Личный кабинет
{% endblock %}
{% block content %}
    {% if username %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="container_rename_document">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h3>Изменение документа</h3>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <form action="{% url 'rename_document' document.id %}" method="post" class="Rename_Document_Form">
                                {% csrf_token %}
                        <div class="row">
                        <div class="col-md-4"></div>
                            <div class="rename_document_image_center">
                        <div class="col-md-4">
                            <a class="fancyimage" href="{{ document.picture.url }}"><img class="img-responsive" src="{{ document.picture.url }}"></a>
                        </div>
                                </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="row">
                                 <div class="col-md-5">
                                     <h4>Введите новое имя документа: </h4>
                                 </div>
                                 <div class="col-md-7">{{ form__.title}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form>
                                <div class="container_rename_document_button">
                                    <input type="button" value="НАЗАД" onClick='location.href="{% url 'cabinet' %}"'>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="container_rename_document_button">
                                <p><input type="submit" value="СОХРАНИТЬ ИЗМЕНЕНИЯ"></p>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
            </div>
            <div class="col-md-2"></div>
        </div>
{% endif %}

    <script type="text/javascript">
  $(document).ready(function() {
    $("a.fancyimage").fancybox();
  });
</script>
{% endblock %}
