{% extends 'mfc/base.html' %}

{% block title %}
    Цели и задачи МФЦ
{% endblock %}

{% block content %}
   <div class="container_tasks">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Основные цели и задачи многофункциональных центров</h3>
            <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Цели создания МФЦ в Ростовской области</a></h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Упрощение процедур получения Заявителями массовых общественно значимых услуг.</li>
                                            <li>Сокращение сроков предоставления массовых общественно значимых услуг.</li>
                                            <li>Повышение комфортности получения Заявителями массовых общественно значимых услуг.</li>
                                            <li>Противодействие коррупции, ликвидация рынка посреднических услуг при предоставлении государственных и муниципальных услуг.</li>
                                            <li>Повышение удовлетворенности получателей услуг качеством их предоставления.</li>
                                            <li>Повышение информированности граждан и юридических лиц о порядке, способах и условиях получения государственных и муниципальных услуг.</li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Задачи МФЦ</a></h4>
                                    </div>
                                <div id="collapse2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Реализация принципа «одного окна» – создание единого места приема, регистрации и выдачи необходимых
                                                документов Заявителям при предоставлении всех Услуг на базе МФЦ,
                                                предоставление возможности Заявителям получения одновременно нескольких взаимосвязанных.</li>
                                            <li>Организация деятельности по полному информированию граждан и юридических лиц по вопросам предоставления Услуг.</li>
                                            <li>Оптимизация административных процедур и повышение качества предоставления Услуг за счет внедрения и исполнения административных регламентов Участниками МФЦ.</li>
                                            <li>Сокращение количества документов, предоставляемых Заявителями для получения Услуг.</li>
                                            <li>Сокращение количества взаимодействий Заявителей с должностными лицами за счет организации межведомственного информационного и документационного взаимодействия.</li>
                                            <li>Оптимизация получения Заявителями Услуг, в предоставлении которых участвуют совместно органы власти разных уровней на основе соглашений между этими органами.</li>
                                            <li>Создание условий для развития информационного взаимодействия между Участниками МФЦ при организации предоставления Услуг, в том числе с
                                                использованием инфраструктуры Федерального центра управления межведомственным информационным обменом.</li>
                                            <li>Создание условий для развития федерального портала государственных услуг и портала государственных и муниципальных услуг Ростовской области.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
   </div>

    <script type="text/javascript">
  $(document).ready(function() {
    $("a.fancyimage").fancybox();
  });
</script>

{% endblock %}